.list {
  list-style: none;
}

.item {
  display: flex;
  gap: 0.25lh;
  justify-content: space-between;
  transition: opacity var(--transition-duration) ease;
}

.loading {
  opacity: 0.25;
  pointer-events: none;
}
