.list {
	list-style: none;
}

.item {
	display: flex;
	gap: 0.25lh;
	justify-content: space-between;
	background-color: var(--color-bg);
	box-shadow:
		1lh 0 0 0 var(--color-bg),
		-1lh 0 0 0 var(--color-bg);
	transition:
		background-color var(--transition-duration) ease,
		box-shadow var(--transition-duration) ease;
}

.highlightOnHover:hover {
	--highlight-light: color-mix(in oklab, var(--color-bg) 96%, var(--color-fg));
	--highlight-dark: color-mix(in oklab, var(--color-bg) 92%, var(--color-fg));
	--highlight: light-dark(var(--highlight-light), var(--highlight-dark));

	background-color: var(--highlight);
	box-shadow:
		1lh 0 0 0 var(--highlight),
		-1lh 0 0 0 var(--highlight);
}
