.section {
  padding: 1lh;
  box-shadow: 0 0 0 1px var(--color-border);
  background-color: var(--color-bg-content);
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

.desktopHide {
  @media (width >= 1200px) {
    display: none;
  }
}
