.wrapper {
  padding: 2rlh 1rlh;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
}

.list {
  grid-column: 1 / -1;
  display: grid;
  gap: 0.5rlh;
  list-style: none;

  @media (width >= 1300px) {
    grid-column: 2 / 3;
  }
}

.item {
  min-width: 0;
}

.term {
  font-size: 0.875rem;
  color: color-mix(in srgb, var(--color-fg) 50%, transparent);
}

.name {
  font-weight: 700;
}
