.link {
  display: flex;
  flex-direction: column;
  gap: 0.75lh;
  background-color: var(--color-bg);
  min-width: 1px;
  transition: opacity 60ms ease;
  margin-block-end: 2lh;
}

.linkLoading {
  opacity: 0.5;
  pointer-events: none;
}

.title {
  font-weight: 800;
  align-self: flex-start;
  text-wrap-style: pretty;

  mark {
    /* background-color: color-mix(in srgb, var(--color-link) 30%, transparent); */
    background-color: var(--color-link);
    color: var(--color-bg);
  }
}

.linkA {
  font-size: 0.875rem;
  text-decoration: none;
  color: color-mix(in srgb, var(--color-fg) 75%, transparent);
  vertical-align: bottom;
}

.meta {
  font-size: 0.875rem;
}

.tags {
  display: inline;
  list-style: none;
}

.tag {
  display: inline;

  &::after {
    content: " ";
    white-space: pre;
  }
}
