.dialog {
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  background-color: var(--color-bg-content);
  padding: 1lh;
  margin: auto;
  width: 100%;
  max-width: 60ch;

  @media (min-width: 900px) {
    padding: 1.5lh;
  }
}

.dialog::backdrop {
  background-color: color-mix(in srgb, var(--color-bg) 95%, transparent);
  /* backdrop-filter: blur(0.5lh); */
}
