.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-content: start;

  @media (width >= 900px) {
    grid-template-columns: 320px minmax(0, 1fr);
  }

  @media (width >= 1100px) {
    grid-template-columns: 340px minmax(0, 1fr) 260px;
  }

  @media (width >= 1300px) {
    grid-template-columns: 400px minmax(0, 1fr) 260px;
  }

  @media (width >= 1600px) {
    grid-template-columns: 400px minmax(0, 1fr) 400px;
  }
}

.header {
  background-color: var(--color-bg-content);
  padding: 0.5lh;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  position: sticky;
  top: -2lh;
  align-items: center;

  @media (width >= 1100px) {
    top: 0;
  }
}

.headerLogo {
  padding-block: 0.5lh;
}
.headerActions {
  display: flex;
  gap: 0.5lh;
  justify-content: flex-end;
  padding: 0.5lh;

  @media (width >= 1100px) {
    grid-column: 3 / 4;
    order: 3;
  }
}
.headerFilters {
  display: flex;
  gap: 0.5lh;
  align-items: center;
  grid-column: 1 / -1;
  padding-inline: 0.5lh;

  @media (width >= 1100px) {
    grid-column: 2 / 3;
    order: 2;
    padding-inline: clamp(1lh, (100% - 740px) / 2, 100%);
  }
}

.headerTrigger {
  @media (width >= 900px) {
    display: none;
  }
}

.main {
  grid-column: 1 / -1;
  padding-block: 2lh;
  padding-inline: 1lh;

  @media (width >= 900px) {
    grid-column: 2 / 3;
  }

  @media (width >= 1100px) {
    padding-inline: clamp(1lh, (100% - 740px) / 2, 100%);
  }
}

.aside {
  --h: 3lh;

  display: none;
  position: sticky;
  top: var(--h);
  height: calc(100dvh - var(--h));
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--color-bg-content);
  box-shadow: inset -1px 0 0 0 var(--color-border);
}

.aside {
  @media (width >= 900px) {
    display: block;
  }
}

.asideStats {
  --h: 3lh;

  display: none;
  position: sticky;
  top: var(--h);
  height: calc(100dvh - var(--h));
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 1lh;

  ul {
    margin-block-start: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  li {
    font-size: 0.625rem;
    line-height: 0.5lh;
    border-radius: var(--radius);
    font-family: ui-monospace;
    opacity: 0.5;
    font-weight: 700;
  }
}

.asideStats {
  @media (width >= 1100px) {
    display: flex;
    justify-content: flex-end;
  }
}
