.wrapper {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  align-content: start;

  @media (width >= 900px) {
    grid-template-columns: 320px 1rlh minmax(0, 1fr);
  }

  @media (width >= 1100px) {
    grid-template-columns:
      340px minmax(1rlh, 1fr) minmax(0, 640px) minmax(1rlh, 1fr)
      260px;
  }

  @media (width >= 1300px) {
    grid-template-columns:
      400px minmax(1rlh, 1fr) minmax(0, 700px) minmax(1rlh, 1fr)
      260px;
  }

  @media (width >= 1600px) {
    grid-template-columns:
      420px minmax(1rlh, 1fr) minmax(0, 700px) minmax(1rlh, 1fr)
      420px;
  }
}

/* this is the height of the header + pills, used to set the scroll-padding-top */
:global(html):has(.wrapper) {
  scroll-padding-top: 6rlh;

  @media (height >= 600px) {
    scroll-padding-top: 9rlh;
  }
}

.header {
  background-color: var(--color-bg-content);
  padding: 1lh 1lh 0.5lh;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  position: sticky;
  top: -2.5lh;
  align-items: center;
  /* this is important */
  /* then the link is loading, the opacity is modified so the component */
  /* temporarily is rendered on top of the header  */
  /* this one is here to make sure that the header is always on top  */
  z-index: 2;
  gap: 1lh;

  @media (width >= 1100px) {
    padding: 0.5lh 1lh;
    gap: 0;
    top: 0;
  }
}

.headerActions {
  display: flex;
  gap: 0.5lh;
  justify-content: flex-end;

  @media (width >= 900px) {
    grid-column: 3 / 4;
  }

  @media (width >= 1100px) {
    grid-column: 5 / 6;
    order: 3;
  }
}

.headerSearch {
  position: relative;
  display: flex;
  gap: 0.5lh;
  align-items: center;
  grid-column: 1 / -1;
  order: 3;

  @media (width >= 1100px) {
    grid-column: 3 / 4;
    order: 2;
  }
}

.headerTrigger {
  @media (width >= 900px) {
    display: none;
  }
}

.pills {
  grid-column: 1 / -1;
  background-color: var(--color-bg-content);
  padding: 0.5rlh 1rlh;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
  display: flex;
  align-items: center;
  gap: 0.5lh;
  /* this is important */
  /* then the link is loading, the opacity is modified so the component */
  /* temporarily is rendered on top of the header  */
  /* this one is here to make sure that the header is always on top  */
  z-index: 1;

  @media (height >= 600px) {
    position: sticky;
    top: 3rlh;
  }

  @media (width >= 900px) {
    padding: 0.5rlh 0.75rlh;
  }
}

.pillsStats {
  font-size: 0.8125rem;
  text-wrap: nowrap;
}

.pillsContent {
  flex-grow: 1;
  overflow: auto;
  scrollbar-width: none;
  mask-image: linear-gradient(
    to right,
    black calc(100% - 2rlh),
    transparent 100%
  );

  /* without this one, the padding is not taken into account  */
  display: flex;
  padding-inline-end: 2rlh;
}

.pillsButton {
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1lh;
  height: 1lh;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      color: var(--color-link);
    }
  }

  &:focus-visible {
    outline: 2px solid color-mix(in srgb, var(--color-link) 50%, transparent);
    outline-offset: 2px;
    border-radius: var(--radius);
  }
}

.main {
  grid-column: 1 / -1;

  @media (width >= 900px) {
    grid-column: 2 / 4;
  }

  @media (width >= 1100px) {
    padding-inline: 0;
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns: subgrid;
    align-content: start;
  }
}

.aside {
  --h: 3lh;

  display: none;
  position: sticky;
  top: var(--h);
  height: calc(100dvh - var(--h));
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: var(--color-bg-content);
  box-shadow: inset -1px 0 0 0 var(--color-border);

  @media (width >= 900px) {
    display: block;
  }

  @media (width >= 1100px) {
    /* im lovet the behaviour of this, but unfortunatelly i can add it only on the */
    /* viewpirt > 1100px because only above thsi resulution we have a fixed header */
    /* height. on lower resolution the header is sticky and scrolls partially.  */
    /* we will nened to wait for the ::sticked pseud class or something like that */
    /* to be able to have this behaviour on lower resolution. */
    overscroll-behavior: contain;
  }
}

.critical {
  grid-column: 1 / -1;
  padding: 1rlh;

  background-color: light-dark(
    oklch(57.7% 0.245 27.325 / 0.1),
    oklch(70.4% 0.191 22.216 / 0.1)
  );
  color: light-dark(oklch(57.7% 0.245 27.325), oklch(70.4% 0.191 22.216));
  box-shadow: inset 0 -1px 0 0 var(--color-border);
  margin-block-end: 2rlh;
}

.links {
  padding-inline: 1rlh;
  padding-block: 2rlh;
  grid-column: 1 / -1;

  @media (width >= 1100px) {
    padding-inline: 0;
    grid-column: 2 / 3;
  }
}

.list {
  list-style: none;
  display: flex;
  gap: 2rlh;
  flex-direction: column;
}

.skipButton {
  font: inherit;
  font-weight: 500;
  border: none;
}

.skipButton:not(:focus) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.skipButton:focus {
  position: absolute;
  inset: calc(100% + 2.75rlh) 0 auto auto;
  padding: 0.25lh 0.5rlh;
  background-color: var(--color-link);
  border-radius: var(--radius);
  outline: none;
  color: var(--color-bg);
  font-size: 0.875rem;
  text-decoration: none;
}
