.page {
  width: 100%;
  max-width: var(--size-container-max);
  margin-inline: auto;
  background-color: var(--color-bg);
  border-inline: 1px solid var(--color-border);
}

.page__content {
  --padding-block: 2lh;

  padding: var(--padding-block) 1lh;
  width: 100%;
  max-width: 60ch;
  margin-inline: auto;

  @media (min-width: 900px) {
    --padding-block: 4lh;
  }
}
