@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* .jetbrains-mono-<uniquifier> { */
/*   font-family: "JetBrains Mono", monospace; */
/*   font-optical-sizing: auto; */
/*   font-weight: <weight>; */
/*   font-style: normal; */
/* } */

:root {
  --color-bg: light-dark(oklch(98.8% 0.003 106.5), oklch(27.4% 0.006 286.033));
  --color-fg: light-dark(oklch(22.8% 0.013 107.4), oklch(96.6% 0.005 106.5));
  --color-border: light-dark(oklch(92% 0.004 286.32), oklch(37% 0.013 285.805));
  --color-link: light-dark(
    oklch(50% 0.134 242.749),
    oklch(78.5% 0.115 274.713)
  );

  --size-container-max: 1300px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
}

body {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-fg);
  background-color: var(--color-bg);
  /* font-family: system-ui; */
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 800;
}

a {
  color: var(--color-link);
  font-weight: 700;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  max-width: var(--size-container-max);
  margin: 0 auto;
  border: 1px solid var(--color-border);
  border-top: none;
  border-bottom: none;
}

.app__header,
.app__main,
.app__footer {
  padding: 1rem;
  box-shadow: inset 0 -1px 0 0 var(--color-border);
}
