@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* // <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */
/**/
/* .inter-<uniquifier> { */
/*   font-family: "Inter", sans-serif; */
/*   font-optical-sizing: auto; */
/*   font-weight: <weight>; */
/*   font-style: normal; */
/* } */

:root {
  --color-bg: light-dark(oklch(98.8% 0.003 106.5), oklch(27.4% 0.006 286.033));
  --color-fg: light-dark(oklch(22.8% 0.013 107.4), oklch(96.6% 0.005 106.5));
  --color-border: light-dark(oklch(92% 0.004 286.32), oklch(37% 0.013 285.805));
  --color-link: light-dark(
    oklch(50% 0.134 242.749),
    oklch(80.9% 0.105 251.813)
  );

  --size-container-max: 1300px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  /* -webkit-font-smoothing: antialiased; */
  /* -webkit-text-size-adjust: none; */
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

h1 {
  font-weight: 800;
}

a {
  color: var(--color-link);
  font-weight: 500;
  /* text-decoration-color: pink; */
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

main {
  /* padding: 3lh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 1lh; */
  /* max-width: 70ch; */
}

.banner {
  max-width: var(--size-container-max);
  margin-inline: auto;
  border-inline: 1px solid var(--color-border);
  padding-block: 6lh;
  padding-inline: 3lh;
  display: flex;
  flex-direction: column;
  gap: 1lh;

  > * {
    max-width: 50ch;
  }
}
.feedback {
  background-color: var(--color-border);
  display: grid;
  gap: 1px;
  grid-auto-flow: column;
  grid-auto-columns: 80%;
  padding-block: 1px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  @media (min-width: 600px) {
    grid-auto-columns: 44%;
  }
  @media (min-width: 900px) {
    grid-auto-columns: 30%;
  }

  article {
    background-color: var(--color-bg);
    padding-inline: 2lh;
    padding-block: calc(2lh - 2px);
    display: flex;
    flex-direction: column;
    gap: 1lh;
    scroll-snap-align: start;

    div {
      display: flex;
      flex-direction: column;

      span:first-of-type {
        font-weight: 700;
      }
      span:last-of-type {
        font-style: italic;
      }
    }
  }
}
