.list {
  list-style: none;
  display: flex;
  flex-shrink: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 220ms ease-in-out;
  animation-fill-mode: both;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.item {
  &::after {
    content: "·";
    margin-inline: 0.25rem;
  }

  &:last-child::after {
    display: none;
  }
}
